html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chart {
    background-color: rgb(215, 255, 219);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 .5px 1px .5px;
    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.chart-item {
    background-color: rgb(101, 190, 109);
    border-top: 3px solid rgb(0, 128, 11);
    margin: 0 .5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-text {
    font-size: .7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#total-time {
    color: darkgreen;
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#chart::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

#chart::-webkit-scrollbar-button {
    width: 0px;
    height: 0;
}

#chart::-webkit-scrollbar-thumb {
    background: rgb(0, 128, 11);
    border: 0;
}

#chart::-webkit-scrollbar-thumb:hover {
    background: rgb(5, 148, 17);
}

#chart::-webkit-scrollbar-thumb:active {
    background: rgb(101, 190, 109);
}

#chart::-webkit-scrollbar-track {
    background: rgb(215, 255, 219);
    border: 0;
}

#chart::-webkit-scrollbar-corner {
    background: transparent;
}